* {
    padding: 0;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
    text-align: center;
}

h1 {
    margin-top: 100px;
    margin-bottom: 10px;
}

.container {
    width: 25%;
    margin: 40px auto;
    display: flex;
    text-align: center;
    justify-content: space-between;
}

.teclas {
    border: 1px solid rgb(151, 151, 151);
    width: 80px;
    padding: 15px 0;
}

.cor {
    margin-top: 30px;
    border: 5px solid white;
    width: 82px;
    height: 80px;
}

.cor:nth-child(1) {
    background-color: rgb(150, 16, 16);
}

.cor:nth-child(2) {
    background-color: rgb(25, 94, 25);
}

.cor:nth-child(3) {
    background-color: rgb(34, 34, 116);
}

#default {
    text-align: center;
    margin-top: 400px;
}

/* TOGGLE */
/*.red {
    background-color: rgb(150, 16, 16);
    color: white;
    transition: 1.5s;
}

.green {
    background-color: rgb(25, 94, 25);
    color: white;
    transition: 1.5s;
}

.blue {
    background-color: rgb(34, 34, 116);
    color: white;
    transition: 1.5s;
}*/